<header class="header">
    <div class="logo">
      <div class="name">Shop ></div>
    </div>
    <nav class="menu">
      <ul class="menu_block">
        <li class="menu_item">
          <a href="/">Home</a>
        </li>
        <li class="menu_item">
          <a [routerLink]="'/shop'">Shop</a>
        </li>
        <li class="menu_item">
          <a href="/">About</a>
        </li>
        <div class="menu_other_links">
          <li>
            <a href="/">K</a>
          </li>
          <li>
            <a href="/">Sign</a>
          </li>
        </div>
      </ul>
    </nav>
  </header>
  